# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_NAVQ95
	select SOC_MIMX9596_M7 if BOARD_NAVQ95_MIMX9596_M7 || BOARD_NAVQ95_MIMX9596_M7_DDR || BOARD_NAVQ95_MIMX9596_M7_FLASH
	select SOC_PART_NUMBER_MIMX9596AVZXN
