/*
 * Copyright 2021-22, NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nxp/nxp_rt11xx_cm7.dtsi>
#include "mimxrt1170_fmurt7.dtsi"

/ {
	model = "NXP MIMXRT1170-FMURT7";
	compatible = "nxp,mimxrt1176";

	aliases {
		led0 = &green_led;
		led1 = &red_led;
		watchdog0 = &wdog1;
		sdhc0 = &usdhc1;
		gps1 = &lpuart2;
		telem1 = &lpuart3;
		telem4-gps2 = &lpuart5;
	};

	chosen {
		zephyr,sram = &ocram1; /* TODO Merge with other OCRAM */
		zephyr,sram1 = &ocram2; /* TODO Merge with other OCRAM */
		zephyr,dtcm = &dtcm;
		zephyr,itcm = &itcm;
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &lpuart1;
		zephyr,canbus = &flexcan1;
		zephyr,flash-controller = &mx25um51345g;
		zephyr,flash = &mx25um51345g;
		zephyr,code-partition = &slot0_partition;
	};

	/* This regulator controls VDD_3V3_SD_CARD onboard supply */
	reg-3v3-sdcard {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-3v3-sdcard";
		enable-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls VDD_5V_PERIPH onboard supply */
	reg-5v-periph {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-5v-periph";
		enable-gpios = <&gpio2 2 GPIO_ACTIVE_LOW>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls VDD_5V_HIPOWER onboard supply */
	reg-5v-hipower {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-5v-hipower";
		enable-gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls the VDD_3V3_SENSORS1 onboard supply. */
	reg-3v3-sensors-1 {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-3v3-sensors-1";
		enable-gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <2000>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls the VDD_3V3_SENSORS2 onboard supply. */
	reg-3v3-sensors-2 {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-3v3-sensors-1";
		enable-gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <2000>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls the VDD_3V3_SENSORS3 onboard supply. */
	reg-3v3-sensors-3 {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-3v3-sensors-1";
		enable-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <2000>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls the VDD_3V3_SENSORS4 onboard supply. */
	reg-3v3-sensors-4 {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-3v3-sensors-1";
		enable-gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <2000>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls VDD_3V3_SPEKTRUM onboard supply */
	reg-3v3-spektrum {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-3v3-spektrum";
		enable-gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
		status = "okay";
	};

	/* This regulator controls ETH_VDD_3V3 supply to power up the TJA1103 PHY */
	reg-eth-power {
		pinctrl-0 = <&pinmux_regulator>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "reg-eth-power";
		enable-gpios = <&gpio5 9 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
		status = "okay";
	};
};


&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&gpio4 {
	status = "okay";
};

&gpio5 {
	status = "okay";
};

&gpio6 {
	status = "okay";
};

&gpio7 {
	status = "okay";
};

&gpio8 {
	status = "okay";
};

&gpio9 {
	status = "okay";
};

&lpuart1 {
	status = "okay";
	current-speed = <115200>;
};


&flexcan1 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcan1>;
	pinctrl-names = "default";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&flexcan2 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcan2>;
	pinctrl-names = "default";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&flexcan3 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcan3>;
	pinctrl-names = "default";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
	can-transceiver {
		max-bitrate = <5000000>;
	};
};

&lpspi1 {
	status = "okay";
	cs-gpios =<&gpio2 11 GPIO_ACTIVE_LOW>;

	icm42688: icm42688p@0 {
		compatible = "invensense,icm42688";
		reg = <0>;
		int-gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
		spi-max-frequency = <24000000>;
		accel-hz = <32000>;
		accel-fs = <16>;
		gyro-hz = <32000>;
		gyro-fs = <2000>;
	};
};

&lpspi2 {
	status = "okay";
};

&lpspi3 {
	status = "okay";
};

&lpspi6 {
	status = "okay";
};

&lpi2c1 {
	status = "okay";
};

&lpi2c2 {
	status = "okay";

	bmp388: bmp388@76 {
		compatible = "bosch,bmp388";
		int-gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
		reg = <0x76>;
		status = "okay";
		odr = "50";
		osr-press = <4>;
		osr-temp = <2>;
	};
};

&lpi2c3 {
	status = "okay";
};

&lpi2c6 {
	status = "okay";
};

&flexpwm1_pwm0 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch1>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm1_pwm1 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch2>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm1_pwm2	{
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch3>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm2_pwm0	{
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch4>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm2_pwm1	{
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch5>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm2_pwm2	{
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch6>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm2_pwm3	{
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch7>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&flexpwm3_pwm0	{
	status = "okay";
	pinctrl-0 = <&pinmux_flexpwm_fmu_ch8>;
	pinctrl-names = "default";
	nxp,prescaler = <64>;
};

&usdhc1 {
	status = "okay";
	sdmmc {
		compatible = "zephyr,sdmmc-disk";
		status = "okay";
	};
};

&edma0 {
	status = "okay";
};

/* GPT and Systick are enabled. If power management is enabled, the GPT
 * timer will be used instead of systick, as allows the core clock to
 * be gated.
 */
&gpt_hw_timer {
	status = "disabled";
};

&systick {
	status = "okay";
};

&wdog1 {
	status = "okay";
};

&enet1g {
	status = "okay";
	int-gpios = <&gpio5 10 GPIO_ACTIVE_HIGH>;
};

zephyr_udc0: &usb1 {
	status = "okay";
};
